.accordTableRow{
    margin-left: 30%;
}

.accordTable{
    color:orange !important;
}

.tabName{
    color:rgb(86, 86, 86);
    font-weight: medium;
    /* font-size: 2vw; */
    font-size: 17px;
    margin-left: -94% !important;
    margin-top: 20px;
}